<div id="partone">
    <div class="container">
        <div class="row align-items-center flex-md-row-reverse justify-content-center">
            <div class="col-12 col-md-6 text-center my-2 container_image">
                <img src="assets/images/partone.png" alt="Onirix" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 my-3 d-flex justify-content-center">
                <div class="container_texte">
                    <div class="text1">
                        <span class="fw-bold">Decouvrer enfin la</span>
                        <br>
                        <span class="fw-bold">signification de vos rêves.</span>
                    </div>
                    <div class="text2">
                        <span class="">
                            Une intelligence artificielle avancée 
                            capable d'analyser et de décoder les rêves des 
                            utilisateurs Cette technologie révolutionnaire 
                            permet par exemple de prédire des situations telles qu'une
                            pour prédire leur avenir.
                        </span>
                    </div>
                    <div class="container_button mt-4 d-flex justify-content-center">
                        <button class="btn py-2 px-3 fw-bold">Commencer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
