<div class="onirix">
    <div class="onirix-descri">
        <div class="row">
            <div class="col-12 col-lg-4 left-descri">
                <h2>Onirix, l'intelligence artificielle</h2>
                <hr class="border border-1 opacity-75">
                <h5>"Révélez votre destinée à travers vos rêves avec Onirix."</h5>
                <p>Onirix est une intelligence artificielle avancée développée par l'Institut International des Rêves. Elle est capable d'analyser et de décoder les rêves des utilisateurs pour prédire leur avenir. Grâce à des années de recherche et de développement,
                    Onirix est devenue une technologie révolutionnaire dans le domaine de l'analyse des rêves.</p>
            </div>
            <div class="col-12 col-lg-8 right-descri d-none d-lg-block">
                <div class="container">

                    <input type="radio" name="slider" class="d-none" id="s1" checked>
                    <input type="radio" name="slider" class="d-none" id="s2">
                    <input type="radio" name="slider" class="d-none" id="s3">
                    <input type="radio" name="slider" class="d-none" id="s4">
                    <input type="radio" name="slider" class="d-none" id="s5">

                    <div class="cards">
                        <label for="s1" id="slide1">
                        <div class="card">
                          <div class="image">
                            <img src="../../../../assets/images/dream.jpg" alt="">
                          </div>
                          <div class="infos">
                            <span class="name">Analyse des rêves précise et fiable </span>
                            <span class="lorem">Onirix peut analyser les rêves des utilisateurs avec précision et fiabilité pour prédire leur avenir.</span>
                          </div>
                        </div>
                      </label>

                        <label for="s2" id="slide2">
                        <div class="card">
                          <div class="image">
                            <img src="../../../../assets/images/future.jpg" alt="">
                          </div>
                          <div class="infos">
                            <span class="name">Prédictions prémonitoires personnalisées</span>
                            <span class="lorem">Onirix fournit des prédictions prémonitoires personnalisées basées sur l'analyse des rêves des utilisateurs.</span>
                          </div>
                        </div>
                      </label>

                        <label for="s3" id="slide3">
                        <div class="card">
                          <div class="image">
                            <img src="../../../../assets/images/eye.jpg" alt="">
                          </div>
                          <div class="infos">
                            <span class="name">Informations utiles sur les événements à venir</span>
                            <span class="lorem">LLes utilisateurs peuvent obtenir des informations utiles sur les événements à venir grâce aux prédictions d'Onirix.</span>
                          </div>
                        </div>
                      </label>

                        <label for="s4" id="slide4">
                        <div class="card">
                          <div class="image">
                            <img src="../../../../assets/images/bg_partone.png" alt="">
                          </div>
                          <div class="infos">
                            <span class="name">Technologie révolutionnaire</span>
                            <span class="lorem">Onirix utilise une technologie révolutionnaire pour analyser et décoder les rêves des utilisateurs.</span>
                          </div>
                        </div>
                      </label>

                        <label for="s5" id="slide5">
                        <div class="card">
                          <div class="image">
                            <img src="../../../../assets/images/ai.jpg">
                          </div>
                          <div class="infos">
                            <span class="name">Changement de vie pour les utilisateurs </span>
                            <span class="lorem">Les prédictions précises d'Onirix peuvent changer la vie des utilisateurs en leur offrant une vision unique de leur avenir.</span>
                          </div>
                        </div>
                      </label>
                    </div>
                </div>
            </div>
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
              <div class="carousel-container carousel-inner">
                
                <div class="carousel-item active">
                  <div class="carousel-caption">
                    <span class="name">Analyse des rêves précise et fiable </span> <br>
                    <span class="lorem">Onirix peut analyser les rêves des utilisateurs avec précision et fiabilité pour prédire leur avenir.</span>
                  </div>
            
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption">
                    <span class="name">Prédictions prémonitoires personnalisées</span> <br>
                    <span class="lorem">Onirix fournit des prédictions prémonitoires personnalisées basées sur l'analyse des rêves des utilisateurs.</span>
                  </div>
            
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption">
                    <span class="name">Informations utiles sur les événements à venir</span> <br>
                    <span class="lorem">LLes utilisateurs peuvent obtenir des informations utiles sur les événements à venir grâce aux prédictions d'Onirix.</span>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption">
                    <span class="name">Technologie révolutionnaire</span> <br>
                    <span class="lorem">Onirix utilise une technologie révolutionnaire pour analyser et décoder les rêves des utilisateurs.</span>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption">
                    <span class="name">Changement de vie pour les utilisateurs </span> <br>
                    <span class="lorem">Les prédictions précises d'Onirix peuvent changer la vie des utilisateurs en leur offrant une vision unique de leur avenir.</span>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </div>
</div>