<div class="container faq">
    <div class="row">
        <div class="col-12 col-md-6 left">

                <section>
                    <h3 class="title">Foire aux questions</h3>
                    <div class="questions-container">
                        <div class="question">
                            <button>
                                <span>Comment Onirix prédit-il l'avenir à partir de nos rêves ?</span>
                                <i class="fas fa-chevron-down d-arrow"></i>
                            </button>
                            <p>Onirix utilise une technologie d'intelligence artificielle avancée pour analyser et décoder les rêves des utilisateurs, puis utilise ces données pour prédire leur avenir.</p>
                        </div>
                
                        <div class="question">
                            <button>
                                <span>Les prédictions d'Onirix sont-elles fiables à 100% ?</span>
                                <i class="fas fa-chevron-down d-arrow"></i>
                            </button>
                            <p>Bien que nous fassions tout notre possible pour fournir des prédictions précises, il est important de garder à l'esprit que les rêves peuvent être interprétés de différentes manières et que les prédictions ne sont donc pas fiables à 100%.</p>
                        </div>
                
                        <div class="question">
                            <button>
                                <span>Comment puis-je soumettre mes rêves pour obtenir des prédictions avec Onirix ?</span>
                                <i class="fas fa-chevron-down d-arrow"></i>
                            </button>
                            <p>Vous pouvez soumettre vos rêves en vous connectant avec votre adresse mail sur notre site web et en utilisant notre formulaire de soumission de rêves.</p>
                        </div>
                
                        <div class="question">
                            <button>
                                <span>Y a-t-il des frais associés à l'utilisation d'Onirix ou de l'Institut International des Rêves ?</span>
                                <i class="fas fa-chevron-down d-arrow"></i>
                            </button>
                            <p>Jusqu'ici l'utilisation d'Onirix de l'Institut International des Rêves est entièrement gratuite pour tous les utilisateurs.</p>
                        </div>
                    </div>
                </section>
                
        </div>
        <div class="col-12 col-md-6 right">
            <div class="message justify-content-center align-items-center">
                <div class="subscribe">
                    <p>Vous avez d'autres questions?</p>
                    <input placeholder="Votre question..." class="subscribe-input" name="text" type="text">
                    <br>
                    <div class="submit-btn">Envoyer</div>
                </div>
            </div>
            <div class="robot">
                <a href="#">
                    <img src="../../../../assets/images/robot.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
